<html>
    <head>
        <title> Properties List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1>Property Rental</h1>
            <p> 
                You will see <%= properties.length %> properties
            </p>
            <div class="row">
                <% properties.forEach(function(property){ %>
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <img class="card-img-top" src="<%= property.url %>" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">$ <%= property.price %></h5>
                                <p class="card-text"><%= property.address %></p>
                                <a href="#" class="btn btn-primary">Details</a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </body>
</html>
